/* @override 
	http://forum.honeyflow.com/themes/flow/design/custom.css?v=1.0
*/

body, h1, h2, h3, h4, h5, h6, .SiteTitle {
    font-family: "rooney-sans",sans-serif
}

body {
	font-size: 100%;
	line-height: 1.4em;
}

.Section-CategoryList div#Panel.Column.PanelColumn {
	display: none;
	width: 0px;
}

.Section-CategoryList #Body #Content {
    margin-left: 0px !important;
}


body,
.UserBox,
.Username,
.Username:hover,
.MeBox .Username,
.PopList .Item.Title,
.PopList .Item.Title a,
.ButtonGroup .Dropdown,
.OptionsMenu,
.MenuItems,
.Button,
.DataList .Excerpt,
.Activities a.Title,
.Activities .Title,
.Activities .Title a,
.DataTable .Title {
    font-size: 1em;
    color: #333;
    background-color: #fcf6ea;
}

.Section-CategoryList #Body {
	padding: 20px;
	background-color: #ede7dc;
}

.ItemDiscussion .Meta,
.HasNew,
.DataList .Meta,
.DataTable .Meta,
.DataTable .MItem,
.BlockTitle,
.SiteSearch .InputBox,
dl.About dt,
dl.About dd,
.InformMessages,
.ButtonBarMarkupHint,
.editor-help-text {
    font-size: 0.8em;
    line-height: 1.2em;
    padding: 5px 0px;
}

.MItem {
   margin-left: 0px;
   margin-right: 18px;
   white-space: normal;
}

.LastDiscussionTitle {
	display: block;
	margin: 10px 0;
}

.AuthorWrap {
	float: left;
	padding-right: 1.5em;
	line-height: 1em;
}


.DiscussionHeader {
   height: 40px;
   padding: 0px;
}

.DiscussionHeader, .DiscussionHeader a, .CommentHeader, .CommentHeader a {
	color: #888 !important;
}


.BigButton, .DataList .Title, .SiteMenu a, .Pager, .BigCount .Number {
    font-size: 1.2em;
}

.SiteTitle {
	padding: 0px 0 0px 0;
    margin: 0px 45px;
}

.SiteMenu a:hover {
    text-decoration: none;
}

.FormWrapper,
.PopList .Item:hover,
#Panel .FilterMenu .Active,
.PanelInfo .Active,
.MeButton:hover,
.Item.Read,
body.Profile.EditMode #Content form,
.NavButton {
    background: none;
}

#Panel .FilterMenu li:first-child,
.PanelInfo li:first-child {
    border-top: none;
}

.DataList .Item:last-child,
.NarrowList .Item:last-child,
#Panel .FilterMenu li:last-child,
.PanelInfo li:last-child {
    border-bottom: none;
    position: ;
}


#Panel .FilterMenu,
.PanelInfo {
    margin-bottom: 20px;
}

.Pager a, .Pager span {
    display: inline-block;
    padding: 10px 5px;
    opacity: 0.8;
    margin: 0;
}

.FlyoutMenu,
.MenuItems,
.NavButton {
    box-shadow: none;
    text-align: left;
    left: -10px;
    background-color: #fff;
    /*border-radius:0;*/;
}

.MeBox .Flyout {
    right: inherit;
    left: 7px;
    top: 150%;
}

input.SmallInput:focus, input.InputBox:focus, textarea:focus {
    background: white;
}

.ProfilePhoto {
    border-radius: 50%;
}

/* search */
#Head .SiteSearch {
    float: none;
    margin: 30px auto;
    text-align: center;
    width: 60%;
	background: #fff;
}

#Head .SiteSearch {
	
}

#Head .SiteSearch .InputBox {
	padding: 9px;
	border: none;
	width: 100%;
	font-size: 1.3em;
}

.SiteSearch .Button,
.SiteSearch .Button:active {
	margin: 6px;
    background: url('../../../applications/dashboard/design/images/sprites.png') no-repeat  0px -195px transparent;
}



#Foot .PoweredByVanilla,
.PoweredByVanilla:hover {
    width: auto;
    line-height: 1;
    font-size: 1em;
    background: none;
    color: #666;
}

dl.About dt {
   padding-left: 14px;
}


a.ChangePicture {
    max-width: 200px;
}

dl.About dt {
    background-position: 2px -135px;
}

dl.About dt.Name {
    background-position: 0 -22px;
}

dl.About dt.Email {
    background-position: 0 -49px;
}

dl.About dt.Joined,
dl.About dt.LastActive {
    background-position: 0 7px;
}

dl.About dt.Roles {
    background-position: 1px -77px;
}

dl.About dt.Posts {
    background-position: 0 -109px;
}

dl.About dd {
    padding: 0 8px 0 0;
}



.Sprite16 {
	background: url('sidebar-icons.png') 0 0 no-repeat;
	width: 29px;
	height: 29px;
	
}

.Sprite16, .OptionsTitle {
    opacity: 0.65;
}

.SpDashboard, .SpOptions, .SpCog {
    background-position: 0px -84px;
}

.SpNotifications, .SpGlobe {
    background-position: 0 0px;
}

.SpInbox, .SpEnvelope {
    background-position: -43px 0px;
}

.SpBookmarks, .SpStar {
    background-position: -95px 0px;
}

.SpOptions, .SpStar {
    background-position: -147px 0px;
}

.Item .Bookmark {
    visibility: hidden;
}

.Item:hover .Bookmark, .Item.Open .Bookmark,.Item .Bookmarked,.Item .Bookmarking {
    visibility: visible;
}

.DataList a.Delete:hover {
    background: none;
    color: #333;
}

.Border {
    background: white;
    border-radius: 0;
    padding: 10px 20px;
}

.Overlay {
    background: rgba(82, 82, 82, 0.7);
    animation: fadein .3s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.BarWrap {
    background: none;
    border: none;
    padding-bottom: 5px;
}

.ButtonBar .ButtonWrap {
    border: none;
}

a,
.FlyoutMenu a, a:hover, a.TextColor:hover, a:hover .TextColor {
    text-decoration: none;
    color: #3B8BBA;
}

.Item.New .Title,
.Item.New .Title a,
.Item.Unread .Title,
.Item.Unread .Title a {
    color: #3D4F5D;
}

#Head a:hover {
    color: rgb(230, 246, 255);
}

#Head a {
	color: #000;
}

.BoxFilter a, .Box a {
    color: #000;
}

#Head {
    background: #fbc038;
    margin-bottom: 0px;
}

#Head #header-container {
	padding-top: 10px;
	height: 55px;
	border-bottom: solid 1px #e3ad24;
	width: 100%;
}

#Head .Row span {
	display: block;
	text-align: center;
	padding: 22px 5px;
	font-size: 1.1em;
	color: #080404;
}

/* Home page content layout */

.Section-CategoryList #Content, .Section-CategoryList #Foot {
	margin: 0;
}
	
.Section-CategoryList .DataList .CategoryHeading.Item {
	clear: both;
	width: 100%;
	border-top: solid 1px #d5cdc3 !important;
}

.Section-CategoryList .DataList #Category_19.CategoryHeading.Item {
	border: none !important;
}



.Section-CategoryList .CategoryHeading div.ItemContent.Category {
	font-size: 1.6em;
	line-height: 2em;
}

.Section-CategoryList .DataList .Item,
.Section-CategoryList .NarrowList .Item {
   width: 24%;
   border: none;
   position: static;
}

.Section-CategoryList .CategoryList .Depth2 {
   width: 24%;
   min-width: 180px;
   float: left;
   border: none;
   height: 250px;
}

.DataList .Meta .RSS {
	display: none;
}

.OptionsMenu {
   background: inherit;
}

h1.HomepageTitle, div.P.PageDescription {
	display: none;
}

.TitleWrap a.Title {
	text-decoration: none !important;
	font-size: 1em;
	line-height: 1.9em;
	margin-bottom: 5px;
}


.TitleWrap a:hover  {
   background-color: #fbc038;
   padding-left: 3px;
}

.ItemContent .CategoryDescription {
	font-size: 0.9em;
	margin-bottom: 15px;
}


.MenuItems a,
.MenuItems a:link,
.MenuItems a:visited,
.MenuItems a:active {
    color: #777 !important;
    padding: 5px 20px;
}

.MenuItems a:hover {
    color: #777 !important;
    background-color: #eee !important;
}

.DataList .MItem.Category a,
.DiscussionMeta .MItem.Category a,
.HasNew,
.Count,
.Tag {
    background: #fbc038;
    color: white;
    padding: .1em .4em .2em;
    border-radius: 2px;
}

.JustNew {
    display: inline;
}

.HasNew {
    background-color: #0078e7;
    font-weight: normal;
}

a.Bookmarked:hover {
    background-position: 0px -42px;
}


#Body .ContentColumn a {
    text-decoration: underline;
    color: #333;
}

.Item-Body {
}

div.Message {
	clear: ;
}


/* Buttons */

.Button {
    display: inline-block;
    *display: inline;
 /*IE 6/7*/
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    color: #fbc038 !important;
    border: 1px solid #888;
    background: #000;
    box-shadow: none;
    text-shadow: none;
    border-radius: 2px;
}

.Button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.Button:hover,
.Button:hover:active,
.Button:focus {
    
    background-color: #666;
}

.Button:focus {
    outline: 0;
    background-color: #E6E6E6;
}

.Button:active {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
    background: #E6E6E6;
}

.Button[disabled] {
    border: none;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    filter: alpha(opacity=40);
    -khtml-opacity: 0.40;
    -moz-opacity: 0.40;
    opacity: 0.40;
    cursor: not-allowed;
    box-shadow: none;
}

.Button::-moz-focus-inner {
    padding: 0;
    border: 0;
}


.Button.Hidden {
    display: none;
}

.BigButton {
    display: block;
    text-align: center;
    padding: 8px 10px;
}

.PageControls.Top .Button {
	display: none;
}

/*.SiteSearch .Button,
.SiteSearch .Button:active {
    background: url('../../../applications/dashboard/design/images/sprites.png') no-repeat scroll 0px -196px transparent;
    box-shadow: none;
    margin: 4px;
}*/

 Forms 

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input:not([type]) {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type="color"] {
    padding: 0.2em 0.5em;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus,
textarea:focus {
    outline: 0;
    outline: thin dotted \9;
 /* IE6-9 */
    border-color: #129FEA;
}

input:not([type]):focus {
    outline: 0;
    outline: thin dotted \9;
 /* IE6-9 */
    border-color: #129FEA;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: thin dotted #333;
    outline: 1px auto #129FEA;
}

.pure-checkbox,
.pure-radio {
    margin: 0.5em 0;
    display: block;
}

input[type="text"][disabled],
input[type="password"][disabled],
input[type="email"][disabled],
input[type="url"][disabled],
input[type="date"][disabled],
input[type="month"][disabled],
input[type="time"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="week"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="color"][disabled],
select[disabled],
textarea[disabled] {
    cursor: not-allowed;
    background-color: #eaeded;
    color: #cad2d3;
}

input:not([type])[disabled] {
    cursor: not-allowed;
    background-color: #eaeded;
    color: #cad2d3;
}

input[readonly],
select[readonly],
textarea[readonly] {
    background: #eee;
 /* menu hover bg color */
    color: #777;
 /* menu text color */
    border-color: #ccc;
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
    color: #b94a48;
    border-color: #ee5f5b;
}

input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
    border-color: #e9322d;
}

input[type="file"]:focus:invalid:focus,
input[type="radio"]:focus:invalid:focus,
input[type="checkbox"]:focus:invalid:focus {
    outline-color: #e9322d;
}

select {
    border: 1px solid #ccc;
    background-color: white;
}

select[multiple] {
    height: auto;
}

label {
    margin: 0.5em 0 0.2em;
}

fieldset {
    margin: 0;
    padding: 0.35em 0 0.75em;
    border: 0;
}

legend {
    display: block;
    width: 100%;
    padding: 0.3em 0;
    margin-bottom: 0.3em;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
}

.token-input-list input {
    box-shadow: none;
}

textarea.MultiComplete {
    min-height: 38px;
}

.MeBox {
	position: relative;
	margin: 0;
	padding-bottom: 5px;
}

.UserBox .WhoIs,
.MeBox .WhoIs, .MeBox .PhotoWrap {
	text-align: left;
	padding-top: 50px;
}

.WhoIs a.Username {
	text-transform: capitalize;
	line-height: 40px;
	font-size: 1.3em;
	background-color: inherit;
}

.WhoIs .ProfilePhoto {
	margin-left: 10px;
}

.Flyout .ProfilePhoto {
	margin-left: 0px;
}


.Flyout .PhotoWrap {
	padding: 0px;
}

.MeMenu {
	position: absolute;
	top: 0;
	width: 100%;
	height: 45px;
	background-color: #f2f2f2;
	text-align: center;
}

.MeButton {
	padding: 6px 9px;
}

/* Layout */

#Panel {
    float: left;
    width: 270px;
	background: #fff;
	z-index: 999;
	-webkit-box-shadow: 5px 0px 5px 0px rgba(50,50,50,0.75);
	-moz-box-shadow: 5px 0px 5px 0px rgba(50,50,50,0.75);
	box-shadow: 5px 3px 5px 0px rgba(50,50,50,0.45)
}

#Content {
    
}

#Body .ContentColumn {
    margin-left: 310px !important;
    padding: 10px;
}

.Row {
    margin: 0px auto;
    width: 100%;
}

#Body {
	margin-left: 0px;
}

#Foot {
	width: 100%;
	margin: 0px auto;
	padding: 30px 0;
    display: table;
    clear: both;
    border-top: solid 1px #e2dcd1;
}


.ProfilePhotoLarge {
	display: block;
	margin: 0 auto;
}

@media (max-width: 1100px) {
    #Panel {
       
    }

    #Body .ContentColumn {
        
    }
}

@media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: portrait),
    (max-width: 960px) {
    #Panel {
        display: none;
    }

    #Body .ContentColumn {
        margin-left: 0px !important;
    }
    

    .Row {
        width: inherit;
        min-width: inherit;
    }

    #Head .MeWrap {
        right: 40px !Important;
    }

    #Content .BoxNewDiscussion {
        display: inline-block;
    }

    #Content .BoxNewDiscussion .MenuItems {
        min-width: 275px;
    }
    
    #Head .SiteSearch {
    width: 95%;
}

}